@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&family=Poppins:wght@300;400;600;700;900&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background-color: #3aafa9;
} */
/* navbar starts */
.container {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 4px #dadada;
}
li {
  list-style: none;
}
ul {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}
a {
  padding-left: 10px;
  padding-right: 10px;
  color: #3aafa9;
  font-family: "montserrat", sans-serif;
  transition: 0.2s ease-in;
}
.items {
  padding-left: 40px;
}
.social_links {
  padding-right: 40px;
  padding-top: 10px;
}

.items_1 a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.items_2 {
  width: 30px;
  height: 30px;
}
a:hover {
  color: #1f1f29;
}
i {
  transition: transform 0.1s ease-in;
}
i:hover {
  transform: scale(1.1);
}

/* navbar ends */

/* homepage */

.home_section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.left_section {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_img img {
  height: 250px;
  width: 250px;
  border-radius: 100px;
}
/* home-right*/
.right_section {
  /* position: relative; */
  width: 50%;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.container_box {
  width: 500px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.hero {
  color: #1f1f29;
  font-family: "montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
}
.about_me {
  padding-top: 10px;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: justify;
  color: #2a2a2b;
}
.about_me_btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #3aafa9;
  border: none;
  transition: 0.3s ease-in;
}
button a {
  text-decoration: none;
  color: #fefefe;
  font-family: "montserrat", sans-serif;
}
button:hover {
  background-color: #2d908b;
  /* left: 3px;
  transform: scale(1.1); */
}

button:hover a {
  color: #ffffff;
}
/* home page ends */

/* skill section */
.skill_container {
  width: 100%;
  height: 100vh;
}
.skill_title {
  width: 100%;
  height: 30vh;
  color: #1f1f29;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
}
.cards {
  width: 100%;
  height: 70vh;
  padding-right: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 columns */
  grid-template-rows: repeat(3, auto); /* 3 rows */
  gap: 10px; /*Gap between grid items*/
}
.card {
  box-sizing: border-box;
  margin: 13px;
  padding: 15px;
  width: auto;
  height: 50px;
  cursor: pointer;
  /* margin-bottom: 100px; */
  background-color: #fefefe;
  color: #1f1f29;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgb(220, 220, 220);
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  transition: transform 0.3s ease-in-out;
}
.card h3 {
  text-align: center;
  color: #3aafa9;
  transition: transform 0.3s ease-in-out;
}
.card p {
  /* text-align: center; */
  font-size: 13px;
  padding-top: 10px;
}
.card:hover h3 {
  transform: scale(1.2);
}
.card:hover {
  transform: scale(1.1);
}
/* skill section ends */
/* service section */
.service_container {
  width: 100%;
  height: 100vh;
}
.service_title {
  width: 100%;
  height: 30vh;
  color: #1f1f29;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
}
.service_cards {
  width: 100%;
  height: 80vh;
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: repeat(2, 1fr); /* 4 columns */
  grid-template-rows: repeat(2, auto); /* 3 rows */
  gap: 0; /*Gap between grid items */
  justify-items: center; /* Center align grid items horizontally */
  align-items: center; /* Center align grid items vertically */
}
.service_card {
  box-sizing: border-box;
  margin: 13px;
  padding: 15px;
  margin-bottom: 90px;
  width: 320px;
  height: auto;
  cursor: pointer;
  background-color: #fefefe;
  color: #1f1f29;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgb(220, 220, 220);
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  transition: transform 0.3s ease-in-out;
}
.service_card h3 {
  text-align: center;
  color: #3aafa9;
  transition: transform 0.3s ease-in-out;
}
.service_card p {
  font-size: 13px;
  padding-top: 15px;
}
.service_card:hover h3 {
  transform: scale(1.1);
}
.service_card:hover {
  transform: scale(1.1);
}
/* service section */
/* project section */
.project_container {
  width: 100%;
  height: 150vh;
}
.project_title {
  width: 100%;
  height: 30vh;
  color: #1f1f29;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
}
.project_cards {
  width: 100%;
  height: 80vh;
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: repeat(2, 1fr); /* 4 columns */
  grid-template-rows: repeat(2, auto); /* 3 rows */
  gap: 0; /*Gap between grid items */
  justify-items: center; /* Center align grid items horizontally */
  align-items: center; /* Center align grid items vertically */
}
.project_card {
  margin-top: 30px;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 23px;
  box-shadow: 1px 1px 4px rgb(220, 220, 220);
  overflow: hidden;
}
.image_div {
  height: 50%;
}

.project_img {
  width: 100%;
  height: 90%;
  object-fit: fill;
}
.header_div {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}
.project_name {
  height: 20px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  font-family: "poppins", sans-serif;
  font-weight: 700;
}

.demo_btn {
  width: 80px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}

.access_section {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.git_icon_img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.project_card:hover h3 {
  transform: scale(1.1);
}
.project_card:hover {
  transform: scale(1.1);
}
.p_div {
  height: 30%;
}

.project_description {
  text-align: justify;
  padding: 10px;
  font-family: "poppins", sans-serif;
  font-size: 12px;
  color: rgb(85, 85, 85);
}

/* project section ends */
/* footer */

.foot {
  width: 100%;
  height: 15vh;
  background-color: #3aafa9;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.back-top {
  position: fixed;
  bottom: 50px;
  right: 10px;
  display: block;
  width: 25px;
  border-radius: 3px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3aafa9;
  /* color: white; */
  opacity: 70%;
}

.back-top a {
  color: #fff;
}

/* media query */
/* Smartphones*/
@media screen and (max-width: 767px) {
  .home_section {
    display: flex;
    flex-direction: column;
  }
  .left_section {
    margin-top: 50px;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_img img {
    height: 200px;
    width: 200px;
    border-radius: 80px;
  }
  /* home-right*/
  .right_section {
    /* position: relative; */
    width: 100%;
    height: 50vh;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
    align-items: center;
  }

  .hero {
    font-size: 35px;
  }

  .container_box {
    height: 350px;
  }
  .skill_container {
    height: 145vh;
  }
  .items {
    padding-left: 0px;
  }
  .social_links {
    padding-right: 5px;
  }

  .cards {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 columns */
    grid-template-rows: repeat(5, auto); /* 3 rows */
  }
  .card {
    margin-bottom: 30px;
  }
  .service_container {
    height: 150vh;
  }

  .service_cards {
    width: 100%;
    height: 70vh;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 columns */
    grid-template-rows: repeat(3, auto); /* 3 rows */
    gap: 0; /*Gap between grid items */
    justify-items: center; /* Center align grid items horizontally */
    align-items: center; /* Center align grid items vertically */
  }
  .service_card {
    margin-bottom: 30px;
  }

  .project_cards {
    width: 100%;
    height: 70vh;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 columns */
    grid-template-rows: repeat(3, auto); /* 3 rows */
    gap: 0; /*Gap between grid items */
    justify-items: center; /* Center align grid items horizontally */
    align-items: center; /* Center align grid items vertically */
  }
  .project_card {
    margin: 20px 0 20px 0;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    box-shadow: 1px 1px 4px rgb(220, 220, 220);
    overflow: hidden;
  }
  .project_container {
    width: 100%;
    height: 250vh;
  }
}
/* Tablets */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .hero {
    margin-top: 30px;
  }
  button {
    margin-bottom: 50px;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  .hero {
    margin-top: 30px;
  }
  button {
    margin-bottom: 50px;
  }
}
